.button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transform: 0.4s;
}

.button.number:hover {
  opacity: 0.9;
}

.button.number:active {
  background-color: #111;
}
.button.number {
  background-color: #333;
}

.button.operator {
  background-color: #800080;
  flex: 1 1 0%;
}

.button.operator:hover {
  opacity: 0.9;
}

.button.operator:active {
  background-color: #630063;
}
